
# Unity-specific ignores
/Library
/Temp

/obj
/Build
/Builds
/Logs
/MemoryCaptures
AssetStoreTools*
.vscode/
.idea/
*.csproj
*.sln
*.userprefs


# Wwise-specific ignores
.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
IncrementalSoundBankData.xml
/GeneratedSoundBanks

# General ignores
*.tmp
*.temp
*.log
*.zip

